/* src/shared/layout/MainShell/MainShell.module.css */

.shell {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-body);
  color: var(--color-text-primary);
}

/* Main */

.main {
  flex: 1;
  display: flex;
}

.pageContainer {
  flex: 1;
  width: 100%;
}

/* Responsivo */
